includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan/bootstrap.php
